body {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.bold {
  font: bold;
}
.italic {
  font: italic;
}
.normal {
  font: normal;
  color: black;
  text-decoration: none;
}
#editline{
  text-align: center;
}
textarea {
  width: 272px;
  height: 71px;
  resize: none;
}
.red {
  color: red;
}
.black {
  color: black;
}
.underline {
  text-decoration: underline;
}
